<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;  charset=utf-8" />
	<meta name="author" content="admin" />
    <script type="text/javascript" src="js/functions.js"></script>
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="style.css" />

	<title>Головна</title>
</head>

<body>
<div class="main">
    <div class="header">
        <div class="head-logo">
            <a hreaf="/"><img class="logo" src="images/logo1.jpg" alt="Інтернет магазин комп'ютерної техніки" /></a>  </br></br>
            <p>Час роботи ПН - ПТ<br>
            з 8-00 до 20-00</p>
            <p>В вихідні дні<br>
            з 9-00 до 17-00</p>
          
          
          
        </div>
        <div class="search-dany">
        <form method="get" action="">
                <ul class="search-head">
                    <li><input type="text" name="search" id="quickquery" placeholder="Пошук"/>
                    <script type="text/javascript">
			             placeholderSetup('quickquery');
                    </script></li>
                    
                    <li><input type="image" class="serch-btn" src="images/searc-btn1.jpg" /></li>
                </ul>
                
            </form>
            <div class="dany">
                <p>8  (800) 700-00-01</br>
                8  (800) 700-00-01</p>
              <form method="get" action="">
                <ul class="search-head">
                    <li><input type="text" name="search" id="quickquery" placeholder="Пошук"/>
                    <script type="text/javascript">
			             placeholderSetup('quickquery');
                    </script></li>
                    
                    <li><input type="image" class="serch-btn" src="images/searc-btn1.jpg" /></li>
                </ul>
                
            </form>  
            </div>
        </div>
        
        <div class="korzuna">
            <a hreaf="/"><img class="korzuna" src="images/korzuna.jpg" alt="Корзина"></a> 
            <p><span>Корзина</span></br>
            товари<span> 1 </span></br>
            сума <span>30 456 </span>грн</p>
              
        </div>
    </div>
    
    <div class="menu">
        <ul class="menu">
    	<li><a href="#">Гловна</a></li>
        <li><a href="#">Про магазин</a></li>
        <li><a href="#">Оплата і доставка</a></li>
        <li><a href="#">Покупка в кредит</a></li>
        <li><a href="#">Контакти</a></li> 			       			         		           
    </ul>
    <hr>
    </div>
    <div class="kroshka">
        <a href="#">Комп'ютерна техніка</a> / <a href="#">Ноутбуки, планшети</a> / <span>Ноутбуки</span>
    </div>
    <div id="contentwrapper">
        <div id="content">
        	<div class="catalog-index">
				<h1><img src="images/lider-sale.jpg" alt="Лідери продажів" /></h1>
				<div class="product-index">
					<h2><a href="#">Ноутбук Acer Aspire E1-522-12504G50Mnkk (NX.M81EU.005) чорний</a></h2>
					<a href="#"><img src="images/no-index1.jpg" alt="" /></a>
					<p>Ціна:  <span>4648.50</span></p>
					<a href="#"><img class="addtocard-index" src="images/addcard-index.jpg" alt="Додати в Карзину" /></a>
				</div>
                
                <div class="product-index">
					<h2><a href="#">Ноутбук Acer Aspire E1-522-12504G50Mnkk (NX.M81EU.005) чорний</a></h2>
					<a href="#"><img src="images/no-index1.jpg" alt="" /></a>
					<p>Ціна:  <span>4648.50</span></p>
					<a href="#"><img class="addtocard-index" src="images/addcard-index.jpg" alt="Додати в Карзину" /></a>
				</div>
                
                <div class="product-index">
					<h2><a href="#">Ноутбук Acer Aspire E1-522-12504G50Mnkk (NX.M81EU.005) чорний</a></h2>
					<a href="#"><img src="images/no-index1.jpg" alt="" /></a>
					<p>Ціна:  <span>4648.50</span></p>
					<a href="#"><img class="addtocard-index" src="images/addcard-index.jpg" alt="Додати в Карзину" /></a>
				</div>
                
                <div class="product-index">
					<h2><a href="#">Ноутбук Acer Aspire E1-522-12504G50Mnkk (NX.M81EU.005) чорний</a></h2>
					<a href="#"><img src="images/no-index1.jpg" alt="" /></a>
					<p>Ціна:  <span>4648.50</span></p>
					<a href="#"><img class="addtocard-index" src="images/addcard-index.jpg" alt="Додати в Карзину" /></a>
				</div>
                
                 <div class="product-index">
					<h2><a href="#">Ноутбук Acer Aspire E1-522-12504G50Mnkk (NX.M81EU.005) чорний</a></h2>
					<a href="#"><img src="images/no-index1.jpg" alt="" /></a>
					<p>Ціна:  <span>4648.50</span></p>
					<a href="#"><img class="addtocard-index" src="images/addcard-index.jpg" alt="Додати в Карзину" /></a>
				</div>
                
                 <div class="product-index">
					<h2><a href="#">Ноутбук Acer Aspire E1-522-12504G50Mnkk (NX.M81EU.005) чорний</a></h2>
					<a href="#"><img src="images/no-index1.jpg" alt="" /></a>
					<p>Ціна:  <span>4648.50</span></p>
					<a href="#"><img class="addtocard-index" src="images/addcard-index.jpg" alt="Додати в Карзину" /></a>
				</div>
               	
            </div>
        </div>
    </div>
       <div id="left-bar">
          <div class="left-bar-cont">
			<h2><span>Каталог</span></h2>
			<h3 class="nav-new"><a href="#">Новинки</a></h3>
			<h3 class="nav-lider"><a href="#">Лідери продажів</a></h3>
			<h3 class="nav-sale"><a href="#">Розпродаж</a></h3>
            <h4><span>- Комп'ютерна техніка</span></h4>
			<ul class="nav-catalog">
				<li><a href="#">Комплектуючі для комп'ютерів</a></li>
				<li><a href="#">Комп'ютери та моноблоки</a></li>
				<li><a href="#">Ноутбуки, планшети</a>
					<ul>
						<li>- <a href="#">Ноутбуки</a></li>
						<li>- <a href="#">Планшетні комп'ютери</a></li>
						<li>- <a href="#">Сумки, рюкзаки, папки, чохли</a></li>
						<li>- <a href="#">Охолоджувачі та засоби захисту</a></li>
					</ul>
				</li>
				<li><a href="#">Монітори, телевізори, проектори</a></li>
				<li><a href="#">Принтери, сканери</a></li>
				<li><a href="#">Клавіатури, миші</a></li>
				<li><a href="#"> Мобільні телефони, аксесуари</a></li>
				<li><a href="#">Флеш пам'ять, накопичувачі</a></li>
				<li><a href="#">Мережеве обладнання</a></li>
			</ul>
            <div class="bar-contact">
				<h3>Контакти:</h3>
				<p><strong>Телефон:</strong><br />
				<span>8 (800) 700-00-01</span></p>
			
				<p><strong>Режим работи:</strong><br />
				В будні дні: <br />
				з 9:00 до 18:00<br />
				Суббота, Неділя:<br />
			    вихідні</p>
			</div>
             <div class="news">
				<h3>Новини</h3>
				<p>
					<span>24.03.2014</span>
					<a href="#">Надійшли у продаж нові 
                   телефони sumsung</a>	
				</p>
				<p>
					<span>24.03.2014</span>
					<a href="#">Подарунки всім купили apple iphone 4s</a>	
				</p>
				<a href="#" class="news-arh">Архів новин</a>
			</div>
            <div class="info">
				<h3>Способи оплати:</h3>
				<p>- <a href="#">Готівковий розрахунок</a></p>
				<p>- <a href="#">Пластиковою карткою</a></p>
				<p>- <a href="#">Кредит</a></p>
				<p>- <a href="#">Розрахувати кредит</a></p>
				<p>- <a href="#">Безготівковий розрахунок</a></p>
			</div>
             <div class="info">
				<h3>Доставка:</h3>
				<p>- <a href="#">Пошта України</a></p>
				<p>- <a href="#">Кур'єрська служба</a></p>
			</div>
			<div class="info">
				<h3>Інформація для вас:</h3>
				<p>- <a href="#">Гарантія</a></p>
				<p>- <a href="#">Як вибрати телефон</a></p>
				<p>- <a href="#">Ремонт і обслуговування</a></p>
				<p>- <a href="#">Акції та новинки</a></p>
				<p>- <a href="#">Условия доставки</a></p>
			</div>   
          </div>  
        </div>
        
        
    
    <div id="right-bar">
           <div class="right-bar-cont">
			<div class="enter">
				<h2><span>Авторизація</span></h2>
				<div>
					<a href="#"><img src="images/enter.jpg" alt="" /></a>
				</div>	
			</div>
           <div class="share-search">
				<h2><span>Вибір за параметрами</span></h2>
				<div>
					<form method="post" action="">
					<p>Вартість:</p>
					від <input class="podbor-price" type="text" name="start-price" />
					до <input class="podbor-price" type="text" name="end-price" />
					 грн.
					 <br /><br />
					<p>Виробники:</p>
					<select>
						<option> ASUS</option>
						<option>Toshiba</option>
						<option>Lenovo</option>
						<option>Sony</option>
						<option>ACER</option>
						<option>HP</option>							
					</select>						
					<input class="podbor" type="image" src="images/podbor.jpg" />						
					</form>
				</div>
			</div>
    </div>
    </div>
    
            
  <div class="clr"></div>
    <div class="footer">
  
	   <div class="menu_footer">
       <hr>
        <ul class="menu_footer">
    	<li><a href="#">Гловна</a></li>
        <li><a href="#">Про магазин</a></li>
        <li><a href="#">Оплата і доставка</a></li>
        <li><a href="#">Покупка в кредит</a></li>
        <li><a href="#">Контакти</a></li> 			       			         		           
    </ul>
    
    </div>	
</div>


</body>
</html>