/* box-shadow: inset 1px 1px 10px 3px #e2e2e2;*/

<form method="get" action="">
                <ul class="search-head">
                    <li><input type="text" name="search" id="quickquery" placeholder="Пошук"/>
                    <script type="text/javascript">
			             placeholderSetup('quickquery');
                    </script></li>
                    <li><input type="image" class="serch-btn" src="images/searc-btn1.jpg" /></li>
                    
                </ul>
                 
            </form>
            
            
            
            
           <input type="text" name="search" id="quickquery" placeholder="Пошук"/>
                    <script type="text/javascript">
			             placeholderSetup('quickquery');
                    </script>
                    
    
    <form method="get" action="">
                <ul class="search-head">
                    <li><input type="text" name="search" id="quickquery" placeholder="Пошук"/>
                    <script type="text/javascript">
			             placeholderSetup('quickquery');
                    </script></li>
                    
                    <li><input type="image" class="serch-btn" src="images/searc-btn1.jpg" /></li>
                </ul>
                
            </form>
            
            
            
            class="serch-btn" src="images/searc-btn1.jpg" />
    
    
                    
                    
                    
                    
  .search-dany{
    position: absolute;
    top:0px;
    left:470px;
}
.search-dany p{
    margin-left:80px;
    font: 16px Century Gothic;
}
.search-head{
			float:left;
            list-style:none;
            /*background:url(images/bg-search.jpg) no-repeat top;
            width:241px;
            height:23px;*/ 
            margin: 5px 0px 11px 40px;
            font: 14px Century Gothic;
            
            
}
#quickquery{
				/*border:none;*/
                font:14px Century Gothic ; 
                padding: 0 0px 0 0px;
                width:241px;
                height:22px;
                box-shadow: inset 2px 2px 10px 3px #e3e3e3;
			}
.search-head li{
				float:right; 
			}
			.serch-btn{
                position: absolute;
				padding:0px 30px 0px 220px;
				float:left;
                /*box-shadow: inset 1px 1px 10px 3px #e2e2e2;*/
			}























